:root{
  --background-color: #F3F4DF;
  --primary-color: #53AF80;
  --secondary-color: #AEA06E; 
  --third-color: #E9D416 ;
  --border-radius: 20px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: var(--background-color);
}

.navBar{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--secondary-color);
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.agroNetTitle{
  text-align: center;
  color: var(--primary-color);
}

.linksContainer{
  display: flex;
  flex-direction: row;
  gap: 20px; 
}

.links{
  color: var(--primary-color);
}

.linksNavBar{
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.linksNavBar:hover{
  color: #4A926D;
}

/* Page Anciens Stage */

.formAndStage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  border-bottom: solid 1px var(--secondary-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.map{
  border: solid 2px #53AF80;
  width: fit-content;
  height: fit-content;
  margin: 20px;
  border-radius: 20px;
}

.mapContainer{
  width: 50vw;
  height: 60vh;
  border-radius: 20px;
}


.formContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: fit-content;
  width: fit-content;
  padding-bottom: 30px;
  padding-left: 20px;
}

.formAncienStage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.titleForm{
  color: var(--primary-color);
}

.formAncienStage select{
  text-align: center;
  height: fit-content;
  border-radius: 0px 5px 0px 5px;
  padding: 3px;

}

.button{
  width: fit-content;
  height: fit-content;
  padding: 5px;
  font-weight: bold;
}

.ajoutStageButton{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--third-color);
  border-color: var(--third-color);
  border-radius: var(--border-radius);
}

/* Ancien Stage */

.stages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 10px;
  }

.stage{
  display: flex;
  flex-direction: row;
  width: 400px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 0px 20px 0px 20px;
  /* border: solid 5px var(--primary-color);
  border-radius: var(--border-radius); */
  padding: 10px; 
  background-color:white;
}

.specialite{
  display: flex;
  justify-content: center;
  border-right: solid 1px var(--secondary-color);
  padding: 5px;
}

.specialite p {
  writing-mode: sideways-lr;
  text-orientation: sideways;
}

.stageContentContainer{
  display: flex;
  flex-direction: column;
}

.titles{
  padding: 0;
}

.titles h3, h4{
  color: var(--primary-color);
  margin-top: 0;
}

.titles h4{
  font-style: italic;
}
.listInformations{
  text-align: left;
}

/* Mobile Responsive */

@media only screen and (max-width: 700px){
  #ancienStage{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .mapContainer{
    width: 80vw;
    height: 60vh;
  }
  .formContainer{
    width: 80vw;
  }

  .stages{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0;
  }

  .stage{
    flex-direction: column;
    width: 80%;
  }

  .specialite{
    border-right: unset;
    border-bottom: solid 1px var(--secondary-color);
  }

  .specialite p {
    writing-mode:unset;
    text-orientation:unset;
  }
}